<!-- howdy/templates/index.html -->
{% extends 'gds_template.html' %}

{% block inner_content %}
        <div class ="page-body">


        <p></p>
        <body>
          Please enter in either part or full name of the person you are requsting access for, then press search.
        </body>
        <p></p>

        <form method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" class="button" value="Search">
        </form>
      </div>
      <p></p>
      <p></p>


{% endblock %}
